#navbar{
  background-color: #F9EFEA !important;
}

.navLink{
  color: #065143 !important;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  padding-right: 1.0rem !important;
  padding-left: 1.0rem !important;
}

.inactiveNavLink:hover{
  color:#129490 !important;
}

.activeNavLink{
  color: #129490 !important;
  font-weight: bold;
}

#contact_link_button{
  border: 1px solid #065143;
  padding: 10px;
}

#contact_link_button:hover{
  border: 1px solid #129490;
  background-color: #129490;
  color: white !important;
}

@media(max-width: 767px){
  #contact_link{
    margin-top:10px;
    margin-bottom: 10px;
  }
}

.pageBody {
  background-color: #F9EFEA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #065143;
}

.splashContainer{
  position: relative;
  height: 450px;
  width:100%;
  text-align:center;
  overflow: hidden;
}

.splashImage{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:50% 50%;
  filter: blur(3px);
  transform: scale(1.1);
}

.splashText{
  color: #F9EFEA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  font-family: 'Rubik', sans-serif;
}

.splashText > h1 {
  padding: 5px;
  font-weight: 500;
}

.splashTextTitle{
  font-size: 50px;
}

.splashTextSubtitle{
  font-size: 30px;
}

.splashCta{
  color:white;
  background-color: #CE1483 !important;
  border-color: #CE1483 !important;
}

.splashCta:hover{
  color: #CE1483 !important;
  background-color: white !important;
  border-color: #CE1483 !important;
}

.pageContent{
  margin-top: 100px;
}

.pageContentTitleWrapper{
  text-align: inherit;
}

.pageContentTitle{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  text-align:center;
}



/* 
App Pallette: https://coolors.co/065143-129490-70b77e-e0a890-ce1483

Dark Green: #065143
Blue: #129490
Light Green: #70B77E
Pink: #F9EFEA
Hot Pink: #CE1483

Logo URL - Long: 
https://logomakr.com/7w8PHr

Logo URL - Really Short Vertical:
https://logomakr.com/3bBMyx

*/
