.App {
  text-align: center;
}

.navLink{
  color: #242331 !important;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.inactiveNavLink:hover{
  color:#0071AA !important;
}

.activeNavLink{
  color: #0071AA !important;
  font-weight: bold;
}

#contact_link_button{
  border: 1px solid #2E294E;
  padding: 10px;
}

#contact_link_button:hover{
  border: 1px solid #0071AA;
  background-color: #0071AA;
  color: white !important;
}

@media(max-width: 767px){
  #contact_link{
    margin-top:10px;
    margin-bottom: 10px;
  }
}

.pageBody {
  background-color: #D6E3F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #2E294E;
}

.splashContainer{
  position: relative;
  height: 450px;
  width:100%;
  text-align:center;
  overflow: hidden;
}

.splashImage{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:50% 50%;
  filter: blur(3px);
  transform: scale(1.1);
}

.splashText{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.splashText > h1 {
  font-size: 30px;
  padding: 5px;
}

.pageContent{
  margin-top: 100px;
}

.pageContentTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@font-face {
  font-family: "SplashHeader";
  src: local("SplashHeader"), url(./fonts/bavro-regular-webfont.woff) format("woff");
}

@font-face {
  font-family: "SplashHeader2";
  src: local("SplashHeader2"), url(./fonts/Assistant-ExtraBold.ttf) format("ttf");
}



/* 
App Pallette: https://coolors.co/0071aa-ff9b71-d6e3f8-242331-2e294e

Blue: #0071AA
Orange: #FF9B71
White: #D6E3F8
Black: #242331
Dark Blue: #2E294E

Logo URLs: 

logomakr.com/4OJCjO
logomakr.com/811q7v

*/
