.App {
  text-align: center;
}

.inactiveNavLink{
  color: #242331 !important;
  font-weight: bold;
}

.inactiveNavLink:hover{
  color:#0071AA !important;
}

.activeNavLink{
  color: #0071AA !important;
  font-weight: bold;
}


.App-body {
  background-color: #D6E3F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #2E294E;
}

.splashHandshake{
  height: 450px;
  width:100%;
  background-image: url("/splash_handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align:center;
  line-height:450px;
}

.splashPageTitle{
  display:inline-block;
  vertical-align:middle;
  color: white;
  font-family:"SplashHeader";
  font-weight:bold;
}

@font-face {
  font-family: "SplashHeader";
  src: local("SplashHeader"), url(./fonts/bavro-regular-webfont.woff) format("woff");
}


/* 
App Pallette: https://coolors.co/0071aa-ff9b71-d6e3f8-242331-2e294e

Blue: #0071AA
Orange: #FF9B71
White: #D6E3F8
Black: #242331
Dark Blue: #2E294E

Logo URL: logomakr.com/4OJCjO

*/
